<div class="row">
  <div class="column">
    <h1>Main Page</h1>
  </div>
</div>
<div class="row">
  <div class="column">
    <h1>First Card</h1>
  </div>
  <div class="column">
    <h1>Second Card</h1>
  </div>
  <div class="column">
    <h1>Third Card</h1>
  </div>
</div>
<div class="row">
  <div class="column"><button class="ui button">Re-Draw Cards</button></div>
</div>