<div class="four column centered row">
    <div class="column">
        <div class="subContainer">
            <h2>{{player}}</h2>
        </div>
    </div>
</div>
<div class="two column centered row">
    <div class="column">
        <div class="subContainer">
            <h1>Score: <span>{{total}}</span></h1>
        </div>
    </div>
</div>
<div class="four column centered row background">
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>First Card</h1>
        </div>
    </div>
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>Second Card</h1>
        </div>
    </div>
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>Third Card</h1>
        </div>
    </div>
</div>
<div class="six column centered row">
    <div class="column">
        <div class="subContainer">
            <button class="fluid ui secondary button massive">Re-Draw Cards</button>
        </div>
    </div>
    <div class="column">
        <div class="subContainer">
            <a href="results" class="fluid ui red button massive">DEAL</a>
        </div>
    </div>
</div>