<div class="four column centered row background">
    <div class="column">
        <div class="subContainer resultsContainer">
            <div class="winner">{{winner}} wins!</div>
        </div>
    </div>
</div>
<div class="four column centered row">
    <div class="column">
        <div class="subContainer">
            <a href="/" class="fluid ui red button massive">Play Again?</a>
        </div>
    </div>
</div>