.mainContainer {
  padding: 5rem 0 2rem;
  background-color: black;

  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.background {
  background-image: url("/gameboardbg.jpeg");
  background-size: cover;
}

.indexContainer {
  background-image: url("/homebg.jpeg");

  background-size: cover;
  min-height: 600px;

}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  height: 500px;
  width: 330px;
  border-radius: 15px;
  border: 0.5px solid white;
  color: white;
  background-color: blue;
  background-image: url("/cardbg.png");
  background-size: cover;
}

.cardtext {
  font-family: 'Times New Roman', Times, serif;
  font-size: 200px;
}

.resultsContainer {
  min-height: 500px;
  color: white;
}

body {
  background-color: black;
}

.startButton {
  height: 70px;
  width: 200px;
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 10px;
  background-color: rgb(97, 22, 22);
  font-size: 40px;
  color: white;
}

.startButton:hover {
  background-color: darkred;
  cursor: pointer;
  color: grey
}

.copyright {
  text-align: center;
}