.mainContainer {
  padding: 5rem 0 2rem;
  background-color: black;

  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.background {
  background-image: url("/gameboardbg.jpeg");
  background-size: cover;
}

.indexContainer {
  background-image: url("/homebg.jpeg");

  background-size: cover;
  min-height: 600px;

}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  height: 500px;
  width: 330px;
  border-radius: 15px;
  border: 0.5px solid white;
  color: white;
  background-image: url("/cardbg.png");
  background-size: cover;
}

.resultsContainer {
  min-height: 500px;
  color: white;
}

body {
  background-color: black;
}